/* Pokemon card styles */
.dentist-card {
  width: 252px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
}

.dentist-card:hover {
  cursor: pointer;
}

.dentist-card__header {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dentist-card__image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dentist-card__body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dentist-card__name {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #2e86c1;
  letter-spacing: 1px;
}

.dentist-card__username {
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  color: #808b96;
  border: 1px solid #d6dbdf;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dentist-card__info {
  padding: 10px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dentist-card__data {
  display: flex;
  font-size: 12px;
}

.dentist-card__data-name {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

.dentist-card__data-value {
  display: inline-block;
}

.dentist-card--detail {
  margin-top: 20px;
}

.dentist-card--detail .dentist-card__name {
  font-size: 18px;
}

.dentist-card.dentist-card--detail {
  width: 450px;
  padding: 20px;
  border: 1px solid #abb2b9;
}

.dentist-card.dentist-card--detail {
  width: 450px;
  padding: 20px;
  border: 1px solid #d6dbdf;
}

.dentist-card__list {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dentist-card__list-item {
  padding: 5px 10px;
}

.dentist-card__list-item-text {
  font-weight: bold;
}

/*
  Dark styles
*/
.app--dark .dentist-card__name {
  background-color: #212f3d;
}

.app--dark .dentist-card__username {
  border: 1px solid #abb2b9;
}

.app--dark .dentist-card.dentist-card--detail {
  border: 1px solid #abb2b9;
}
