* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}


.app {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.app--dark {
  background-color: rgba(0, 0, 0, 0.1);
}